#principal
h2{top: 40px;
left: 40px;
font-size: 20px;
font-family: cursive;
color: green;
align-items: center;}

p{top: 40px;
left: 40px;
font-size: 15px;
font-family: cursive;
color:black;}